<h1>Cats, Inc. | About</h1>
<p>Cats, Inc. was founded with one principle in mind. Serve high quality pictures of cats in order to promote workplace happiness and maximum synergy. We've been working for over 15 years to track down the Internet's finest feline photos. All our cat pictures are taken in the good ole U S of A. When you choose Cats, Inc., you choose America.</p>
<%= image_tag("meowica.jpg", :alt => "America cat") %>
