<h1>Cats, Inc.</h1>
<div class="greeting-text">
  <p>Wow! Can you believe it's already&nbsp;</p>
  <p><%= current_date_and_time %></p>
  <p>? Oh, how time flies!</p>
</div>
<p>You better hurry up and look at more <a href="/cat-pictures">pictures of cats</a>.</p>
<%= image_tag("monocle-cat.jpg", :alt => "monocle cat") %>

