// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  color: #3498db;
  &:hover, &:focus {
    border-bottom: 2px solid #3498db;
  }
}  

ul {
  display: table;
  list-style-type: none;
  margin-top: 30px;
  li {
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
  }
}

h1 {
  display: table;
  padding: 10px;
  text-align: center;
  margin: 0 auto 20px;
  background-color: #3498db;
  color: #ecf0f1;
}

img {
  width: 300px;
  display: block;
  margin: 30px auto;
}

.greeting-text {
  display: table;
  margin: 0 auto;
  p {
    display: inline-block;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 0 10px;
}

.generated-pics {
  img {
    margin: 30px auto;
    width: 32%;
    float: left;
    margin-right: 10px;
    @media (max-width: 960px) {
      float: none;
      width: 100%;
    }
  }

}